<a href="https://colab.research.google.com/github/mrinaligupta255/Python-Libraries-for-Data-Science/blob/master/matplotlib_for_data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##MATPLOTLIB  PRACTISE

In [0]:
import matplotlib.pyplot as plt

Frequently used commands in the given examples:

    plt.figure(): To create a new figure
    plt.plot(): Plot y versus x as lines and/or markers
    plt.xlabel(): Set the label for the x-axis
    plt.ylabel(): Set the label for the y-axis
    plt.title(): Set a title for the axes
    plt.grid(): Configure the grid lines
    plt.legend(): Place a legend on the axes
    plt.savefig(): To save the current figure on the disk
    plt.show(): Display a figure
    plt.clf(): Clear the current figure(useful to plot multiple figures in the same code)

#Practise on Vancouver property tax report dataset

In [3]:
from google.colab import drive
drive.mount('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [49]:
import numpy as np
import pandas as pd
df=pd.read_csv('/content/gdrive/My Drive/Datasets/data_property_tax_report_2018.csv')
#print(df.shape)
#print(df.columns)
year_build=df['YEAR_BUILT']
#print(year_build)
#print(df[1:4])
#print(df.iloc[1:4,1:7])
#print(df.count())   # counts the number of non null value in earch dataframe column
print(df.YEAR_BUILT.count()) # give count of a particular column

194899

The dataset contains total 205346 records and 28 columns each records
205346x23

columns=

    ['PID', 'LEGAL_TYPE', 'FOLIO', 'LAND_COORDINATE', 'ZONE_NAME',
          'ZONE_CATEGORY', 'LOT', 'BLOCK', 'PLAN', 'DISTRICT_LOT',
          'FROM_CIVIC_NUMBER', 'TO_CIVIC_NUMBER', 'STREET_NAME',
          'PROPERTY_POSTAL_CODE', 'NARRATIVE_LEGAL_LINE1',
          'NARRATIVE_LEGAL_LINE2', 'NARRATIVE_LEGAL_LINE3',
          'NARRATIVE_LEGAL_LINE4', 'NARRATIVE_LEGAL_LINE5', 'CURRENT_LAND_VALUE',
          'CURRENT_IMPROVEMENT_VALUE', 'TAX_ASSESSMENT_YEAR',
          'PREVIOUS_LAND_VALUE', 'PREVIOUS_IMPROVEMENT_VALUE', 'YEAR_BUILT',
          'BIG_IMPROVEMENT_YEAR', 'TAX_LEVY', 'NEIGHBOURHOOD_CODE']

In [52]:
#grouping th number of biulding based on the year
x=df.groupby('YEAR_BUILT',as_index=False).count()
x[['PID','YEAR_BUILT']]

      PID  YEAR_BUILT
0      33      1800.0
1       1      1886.0
2       1      1890.0
3       1      1893.0
4       4      1898.0
..    ...         ...
117  3465      2011.0
118  3415      2012.0
119  3874      2013.0
120  3236      2014.0
121    18      2015.0

[122 rows x 2 columns]